.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.n {
  margin-top: 30px;
  border: 2px solid red;
  border-top: auto;
  border-bottom: auto;
  border-radius: 5px;
}

.logo {
  margin-right: 10px;
  margin-left: 30px;
  font-size: 30px;
  color: red;
} /*logo*/

.h {
  margin-right: 10px;
  margin-left: 50px;
} /*home*/

.a {
  margin-right: 10px;
  margin-left: 10px;
} /*answer*/

.p {
  margin-right: 1px;
  margin-left: 20px;
} /*profile*/

.q {
  margin-right: 10px;
  margin-left: 15px;
} /*askquestion*/

.log {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 10px;
} /*logout*/

.textarea {
  text-align: 1000px;
}

.signup {
  display: inline-block;
}

.login {
  display: inline-block;
  padding: 10px;
  margin-top: 0px;
}

hr {
  height: 500px;
  width: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
